@import '~carbon-components/scss/globals/scss/styles.scss';

$main: #413172;
$second: #e48900;
$light: #ffd83f;


body {
  margin: 0;
  padding: 0;
}

#main {
  padding: 30px 5%;
}

#login_div {
  padding: 40px 5%;
  margin: 100px 20%;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 10px;
}

.text_input:focus {
  border: 2px solid $second;
}
